{% extends 'web_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add Link
{% endblock %}	


{% block body_block %}
	{% if alert %}
		<div class="alert alert-danger" role="alert">
			{{alert}}
		</div>
	{% endif %}
	<form id="add_link_form" method="post" action="{% url 'design-grid:add_link' %}">
		{% csrf_token %} <!---protects information passed during hidden post -->
		
		
		<div class="container" style="margin: 5px">
		<h1>Add A Link</h1>
			{% for field in form %}
				{{ field.help_text }}
				{{field.label}} {{ field }}
				<br>
			{% endfor %}
			<input type="submit" name="submit" value="Add Link" />
		</div>
	</form>
	
{% endblock %}