{% extends 'web_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Add Post
{% endblock %}	


{% block body_block %}

	<form id="add_post_form" method="post" enctype="multipart/form-data" action="{% url 'design-grid:add_post' %}">
		{% csrf_token %} <!---protects information passed during hidden post -->
		
		<!-- section drop down menu form -->
		{{ section.as_p }}
		
		<!-- post details form -->
		{% for field in post_form %}
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
			<br>
		{% endfor %}
		
		<!-- post tags -->
		Tags<br>
		<!-- loop through each tag and create a checkbox with the name of the tag -->
		{% for tag in tags %}
			<input type="checkbox" id="{{tag.name}}" name="{{tag.name}}" value="on">
			{{tag}}
			<br>
		{% endfor %}
		
		<input type="submit" name="submit" value="Create Post" />
	</form>
	
{% endblock %}