<!DOCTYPE html>
{% load staticfiles %}
{% load designgrid_template_tags %}

<html>
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
	
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito|Quicksand&display=swap" rel="stylesheet">
	<head>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
	</head>
	
	<head lang="en">
		<meta charset="UTF-8" />
		<!-- title of page -->
		<title>
			Design Grid - 
			{% block title_block %}
				Create and Share
			{% endblock %}
		</title>
	</head>
	
	<!-- contents of the page -->
	<body>
		<!-- NAV BAR -->
		<ul  class="navbar">
		
			<li class="logo">DesignGrid</li>
			
			<!-- SEARCH BAR -->
			<input id="text" type="text" name="search" value="" size="50" />
			<input id="search" type="submit" value="search" />
			
			<!-- Link to home page -->
			<li><a href={% url 'design-grid:index' %}>Home</a></li>
			
			<!-- Link to professions pages -->
			<li class="dropdown">
				<a class="dropbtn">Professions<i></i></a>
					<div class="dropdown-content">

						{% for profession in professions %}
							<a href="{% url 'design-grid:profession' profession.slug %}">{{profession.name}}</a>
						{% endfor %}
					
					</div>
			</li>
			
			<!-- Login/ Logout Menu -->
			
			{% if user.is_authenticated %}
				<li class="dropdown">
					<a class="dropbtn">My Profile<i></i></a>
						<div class="dropdown-content">
							<!-- If user is super user they will not have a profile to edit and view -->
							{% if not request.user.is_superuser %}
								<a href="{% url 'design-grid:profile' user.userprofile.slug %}">My Profile</a>
								<a href="{% url 'design-grid:edit_profile' %}">Edit Profile</a>
							{% endif %}
							<a href="{% url 'design-grid:logout' %}">Logout</a>
						</div>
				</li>
			{% else %}
				<li class="dropdown">
					<a class="dropbtn">Log in<i></i></a>
						<div class="dropdown-content">
							<a href="{% url 'design-grid:login' %}">Log in</a>
							<a href="{% url 'design-grid:register' %}">Sign up</a>
						</div>
				</li>
			{% endif %}
			
		</ul>
		
		<!-- TEMPLATE CONTENTS -->
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
		
		<!-- Search bar functionality -->
		{% csrf_token %}
		<script>
		//if user presses enter when typing, search
		$("#text").keyup(function(event) {
			if (event.keyCode === 13) {
				search()
			}
		});
		//if user presses search button, search
		$('#search').click(function(){
			search()
		});
		
		function search(){

			$.ajax({
				type: "POST", //send it through post method
				headers: {'X-CSRFToken':document.querySelector('[name=csrfmiddlewaretoken]').value},
				data: {},
				success: function() {
					//see if text from search bar exists
					if ( $('#text').val()!='') {
						//if it does go to the search url, passing in the search term from the text input
						window.location.href = "{% url 'design-grid:search' 0 %}".replace('0', $('#text').val());
					}
				}
			});	
		}
		</script>
	</body>
</html>