<!DOCTYPE html>
{% load staticfiles %}
{% load designgrid_template_tags %}

<html>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
	
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito|Quicksand&display=swap" rel="stylesheet">
	
	<head>
		<!-- bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!--
		<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
		-->
		<link rel="stylesheet" type="text/css" href="{% static 'styles/image_fit.css' %}">
	</head>
	
	<head lang="en">
		<meta charset="UTF-8" />
		<!-- title of page -->
		<title>
			Design Grid - 
			{% block title_block %}
				Create and Share
			{% endblock %}
		</title>
	</head>
	
	<!-- contents of the page -->
	<body>
		<!-- NAV BAR -->										<!-- Nav bar colour -->
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #800000; color: #eeeeee;">
			<!-- Nav bar logo -->
			<a class="navbar-brand" style="margin-right: 100px;">Design Grid</a>
			
			<!-- if creen is to small, add collapse and expand button -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- Navbar with search bar -->
				<ul class="navbar-nav">
					<!-- Search bar -->
					<li class="form-inline my-2 my-lg-0">
						<span class="input-group-append">
						<input id="text" class="form-control mr-sm-2" style="width: 400px;" type="search" placeholder="Search" aria-label="Search">
						
						<button id="search" class="btn my-2 my-sm-0" type="submit">Search</button>
					</li>
					
				</ul>
				<!-- Nav bar with buttons and drop dwon -->
				<ul class="navbar-nav ml-auto">
				
					<!-- Home Button -->
					<li class="nav-item">
						<a class="nav-link" style="color: #eeeeee;" href="{% url 'design-grid:index' %}">Home</a>
					</li>
					
					<!-- Professions list -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" style="color: #eeeeee;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Professions </a>
						
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" >
							{% for profession in professions %}
								<a class="dropdown-item" href="{% url 'design-grid:profession' profession.slug %}">{{profession.name}}</a>
							{% endfor %}
						</div>
					</li>
						
					<!-- Drop down Menu - Profile and Login/register etc -->
					{% if user.is_authenticated %}
						<li class="nav-item dropdown ">
							<a class="nav-link dropdown-toggle" style="color: #eeeeee;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Profile </a>
							
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								{% if not request.user.is_superuser %}
									<a class="dropdown-item" href="{% url 'design-grid:profile' user.userprofile.slug %}">My Profile</a>
									<a class="dropdown-item" href="{% url 'design-grid:edit_profile' %}">Edit Profile</a>
									<div class="dropdown-divider"></div>
								{% endif %}
									<a class="dropdown-item" href="{% url 'design-grid:logout' %}">Logout</a>
							</div>
						</li>
					<!-- Login/register -->
					{% else %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" style="color: #eeeeee;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Log in </a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="{% url 'design-grid:login' %}">Log in</a>
								<a class="dropdown-item" href="{% url 'design-grid:register' %}">Sign up</a>
							</div>
						</li>
					{% endif %}
				</ul>
			</div>		
		</nav>
		
		
		<!-- TEMPLATE CONTENTS -->
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
		
		<!-- Bootstrap JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
		<!-- Search bar functionality -->
		{% csrf_token %}
		<script>
		//if user presses enter when typing, search
		$("#text").keyup(function(event) {
			if (event.keyCode === 13) {
				search()
			}
		});
		//if user presses search button, search
		$('#search').click(function(){
			search()
		});
		
		function search(){

			$.ajax({
				type: "POST", //send it through post method
				headers: {'X-CSRFToken':document.querySelector('[name=csrfmiddlewaretoken]').value},
				data: {},
				success: function() {
					//see if text from search bar exists
					if ( $('#text').val()!='') {
						//if it does go to the search url, passing in the search term from the text input
						window.location.href = "{% url 'design-grid:search' 0 %}".replace('0', $('#text').val());
					}
				}
			});	
		}
		</script>
	</body>
</html>