<!DOCTYPE html>
{% load staticfiles %}

<html>

	<link href="https://fonts.googleapis.com/css?family=Nunito|Quicksand&display=swap" rel="stylesheet">
	<head>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
	</head>
	
	<head lang="en">
		<meta charset="UTF-8" />
		<!-- title of page -->
		<title>
			Design Grid - 
			{% block title_block %}
				Create and Share
			{% endblock %}
		</title>
	</head>
	
	<!-- contents of the page -->
	<body>
		<!-- NAV BAR -->
		<ul  class="navbar">
		
			<li class="logo">DesignGrid</li>
			<!-- Link to home page -->
			<li><a href={% url 'design-grid:index' %}>Home</a></li>
			
			<!-- Link to professions pages -->
			<li class="dropdown">
				<a class="dropbtn">Professions<i></i></a>
					<div class="dropdown-content">
						{% for profession in professions %}
							<a href="{% url 'design-grid:profession' profession.slug %}">{{profession.name}}</a>
						{% endfor %}
					</div>
			</li>
			
			<!-- Login/ Logout Menu -->
			
			{% if user.is_authenticated %}
				<li class="dropdown">
					<a class="dropbtn">My Profile<i></i></a>
						<div class="dropdown-content">
							<a href="{% url 'design-grid:profile' user%}">My Profile</a>
							<a href="{% url 'design-grid:edit_profile' %}">Edit Profile</a>
							<a href="{% url 'design-grid:logout' %}">Logout</a>
						</div>
				</li>
			{% else %}
				<li class="dropdown">
					<a class="dropbtn">Log in<i></i></a>
						<div class="dropdown-content">
							<a href="{% url 'design-grid:login' %}">Log in</a>
							<a href="{% url 'design-grid:register' %}">Sign up</a>
						</div>
				</li>
			{% endif %}
			
		</ul>
		
		<!-- TEMPLATE CONTENTS -->
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
	</body>
</html>