<!DOCTYPE html>
{% load staticfiles %}
<html>
<link href="https://fonts.googleapis.com/css?family=Nunito|Quicksand&display=swap" rel="stylesheet">
<head>
<title>DesignGrid</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
</head>

<body>

<!--Navbar-->
<ul class="navbar">
	<li><a class="nav1" href=login.html>Login</a></li>
	<li><a class="nav1">Professions</a></li>
    <li><a class="active" class="nav1" href=index.html>Home</a></li>
	<li><b>DesignGrid</b></li>
</ul>

<!--Heading-->
<h1>Home</h1>

<!--Menu of Professions-->
<ul class="flex-container-b">
	{% for profession in professions %}
	<li class="flex-item-b">
	
		{{profession.name}}
	</li>
	{% endfor %}
	
</ul>

</body>