{% extends 'web_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Post
{% endblock %}

{% block body_block %}

<!-- download jquery -->
<header> <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script> </header>

<div>
	<!-- Image: -->
	<img src="{{MEDIA_URL}}{{post.picture}}" alt="post_image." /><br>
	Title: {{post.title}} <br>
	Description: {{post.description}} <br>
	Likes: {{likes}} <br>
	
	Tags: 
	{% for tag in tags %}
		{{tag}},
	{% endfor %}
	<br>
	User: <a href="{% url 'design-grid:profile' profile.slug %}">{{profile}}</a>
	<br>
	<script src="{% static 'js/vote.js' %}"></script>
	<input type="button" id="upvote" value="like" onclick="upvote"/>
	
	
</div>

{% endblock %}