{% extends 'web_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Post
{% endblock %}

{% block body_block %}	

<div>
	<!-- Image: -->
	<img src="{{MEDIA_URL}}{{post.picture}}" alt="post_image." /><br>
	Title: {{post.title}} <br>
	Description: {{post.description}} <br>
	Likes: {{likes}} <br>
	
	Tags: 
	{% for tag in tags %}
		{{tag}},
	{% endfor %}
	<br>
	User: <a href="{% url 'design-grid:profile' profile.slug %}">{{profile}}</a>
	<br>
	
	{% if user.is_authenticated %}
		{% csrf_token %}
		{% if liked %}
			<input type="submit" id="like" value="unlike" />
		{% else %}
			<input type="submit" id="like" value="like" />
		{% endif %}
	{% else %}
		Log in to Like Post
	{% endif %}
	
</div>
	
	{% csrf_token %}
	<script>
	$('#like').click(function(){
		load()
	});
	
	function load(){
		$.ajax({
			type: "POST",
			headers: {'X-CSRFToken':document.querySelector('[name=csrfmiddlewaretoken]').value},
			success: function(response) {
				location.reload();  
			}
		});
	}
	</script>

{% endblock %}