{% extends 'web_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Profession
{% endblock %}	


{% block body_block %}

	<h1>{{profession}}</h1>
	<div id="counter"> </div>
	
	<!--List of Tags-->
	<div class= "flex-container-a">
		<ul id="filter_form">
			{% csrf_token %}
			{% for tag in tags %}
				<input type="checkbox" id="{{tag.name}}" name="{{tag.name}}" value="on" checked>
				{{tag}}
				<br>
			{% endfor %}
			<input type="submit" id="apply" name="submit" value="Apply" />
		</ul>
	</div>
	
	<div id="display"> </div>
	
	{% csrf_token %}
	<script>
	$(document).ready(function(){
		loadPosts()
	});
	
	$('#apply').click(function(){
		loadPosts()
	});
	
	function loadPosts(){
		var checks = [];
		//loop through every checkbox
		for (checkbox of $('#filter_form').find('input[type=checkbox]')){
			checks.push(checkbox.checked)
		}
		$.ajax({
			url: "{% url 'design-grid:profession_filter' %}",
			type: "post", //send it through post method
			headers: {'X-CSRFToken':document.querySelector('[name=csrfmiddlewaretoken]').value},
			data:{slug:"{{profession.slug}}",checkboxes:checks},
			success: function(response) {
				var splitted = response.split("***"); //split the profesion_posts.html into different parts
				$("#counter").html(splitted[0]); //return the counter part
				$("#display").html(splitted[1]); //return the display part
				
			},
			error: function(xhr) {
				//Do Something to handle error
			}
		});	
	}
	</script>

{% endblock %}

