{% extends 'web_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Profession
{% endblock %}	


{% block body_block %}

	<!--Heading-->
	<h1>{{profession}}</h1>

	<!--List of Tags-->
	<div class= "flex-container-a">
		<ul>
			{% for tag in tags %}
			{{tag}}<br>
			{% endfor%}
		</ul>
	</div>

	<!--Menu of Posts-->
	<ul class="flex-container-b">
		{% for post in posts %}
		<li class="flex-item-b">

			<img src="{{MEDIA_URL}}{{post.picture}}" alt="post_image." /><br>
			{{post.title}} <br>
			Likes: {{post.likes}}<br>
			<a href="{% url 'design-grid:post' post.pid %}">View Post</a>
		</li>
		{% endfor %}
		
	</ul>

{% endblock %}

