<!DOCTYPE html>
{% load staticfiles %}
<html>
<link href="https://fonts.googleapis.com/css?family=Nunito|Quicksand&display=swap" rel="stylesheet">
<head>
<title>DesignGrid</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
</head>

<body>

<!--Navbar-->
<ul  class="navbar">
	<li><a href=login.html>Login<i></i></a></li>
	<li class="dropdown">
		<a class="dropbtn">Professions<i></i></a>
			<div class="dropdown-content">
			{% for profession in professions %}
			  <a href=>{{profession.name}}</a>
			 {% endfor %}
			</div>
	</li>
	<li><a href=index.html>Home</a></li>
	<li class="logo">DesignGrid</li>
</ul>
<!--Heading-->
<h1>{{profession}}</h1>

<!--List of Tags-->
<div class= "flex-container-a">
<ul>
{% for tag in tags %}
<li>{{tag}}</li>
{% endfor%}
 </ul>
</div>

<!--Menu of Posts-->
<ul class="flex-container-b">

	<li class="flex-item-b">
	post
	</li>
	<li class="flex-item-b">
	post
	</li>
	<li class="flex-item-b">
	post
	</li>
	<li class="flex-item-b">
	post
	</li>
	<li class="flex-item-b">
	post
	</li>
	
</ul>


</body>