{% extends 'web_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Search
{% endblock %}

{% block body_block %}
	<h1>Search results for '{{argument}}'</h1>
	<h2>Users</h2>
	
	<!--Menu of Users-->
	<ul class="flex-container-b">
		{% for user in users %}
		<li class="flex-item-b">
			<img src="{{MEDIA_URL}}{{user.userprofile.picture}}" alt="post_image." /><br>
			<a href="{% url 'design-grid:profile' user.userprofile.slug %}">{{user.username}}</a>
		</li>
		{% endfor %}
		
	</ul>
	
	<h2>Posts</h2>
	
	<!--Menu of Posts-->
	<ul class="flex-container-b">
		{% for post in posts %}
		<li class="flex-item-b">
			<img src="{{MEDIA_URL}}{{post.picture}}" alt="post_image." /><br>
			<a href="{% url 'design-grid:post' post.pid %}">{{post.title}}</a>
		</li>
		{% endfor %}
		
	</ul>

{% endblock %}