{% extends 'web_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Search
{% endblock %}

	
{% block body_block %}

	<h1>Search results for '{{argument}}'</h1>
	<h2>Users - Username</h2>
	
	<!--Menu of Users filtered by Username-->
	<!--
	<ul class="flex-container-b">
		{% for user in users %}
		<li class="flex-item-b">
			<img src="{{MEDIA_URL}}{{user.userprofile.picture}}" alt="profile_image." /><br>
			<a href="{% url 'design-grid:profile' user.userprofile.slug %}">{{user.username}}</a>
		</li>
		{% endfor %}
		
	</ul>
	-->
	<div class="container-fluid">
		<div class="card-deck">
		{% for user in users %}
			<a href="{% url 'design-grid:profile' user.userprofile.slug %}" style="color: #222222;">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{{MEDIA_URL}}{{user.userprofile.picture}}" alt="profile_image">
					<div class="card-body" style="object-fit: cover;">
						<h5 class="card-title">{{user.username}}</h5>
						<p class="card-text">{{user.userprofile.bio}}</p>
					</div>
				</div>
			</a>
		{% endfor %}
		</div>
	</div>
		
	<h2>Users - Location</h2>
	
	<!--Menu of Users filtered by Location-->
	<!--
	<ul class="flex-container-b">
		{% for user in location %}
		<li class="flex-item-b">
			<img src="{{MEDIA_URL}}{{user.picture}}" alt="post_image." /><br>
			<a href="{% url 'design-grid:profile' user.slug %}">{{user.user.username}}</a>
		</li>
		{% endfor %}
		
	</ul>
	-->
	
	<div class="container-fluid">
		<div class="card-deck">
	{% for userprofile in location %}
		<a href="{% url 'design-grid:profile' userprofile.slug %}" style="color: #222222;">
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="{{MEDIA_URL}}{{userprofile.picture}}" alt="profile_image">
			  <div class="card-body">
				<h5 class="card-title">{{userprofile.user.username}}</h5>
				<p class="card-text">{{userprofile.location}}</p>
			  </div>
			</div>
		</a>
	{% endfor %}
		</div>
	</div>
	
	<h2>Posts - Titles</h2>
	
	<!--Menu of Posts-->
	<!--
	<ul class="flex-container-b">
		{% for post in posts %}
		<li class="flex-item-b">
			<img src="{{MEDIA_URL}}{{post.picture}}" alt="post_image." /><br>
			<a href="{% url 'design-grid:post' post.pid %}">{{post.title}}</a>
		</li>
		{% endfor %}
		
	</ul>
	-->
	<div class="container-fluid">
		<div class="card-deck">
	{% for post in posts %}
		<a href="{% url 'design-grid:post' post.pid %}" style="color: #222222;">
			<div class="card" style="width: 18rem;">
			  <img class="card-img-top" src="{{MEDIA_URL}}{{post.picture}}" alt="post_image">
			  <div class="card-body">
				<h5 class="card-title">{{post.title}}</h5>
				<p class="card-text">By: {{post.section.user}}</p>
			  </div>
			</div>
		</a>
	{% endfor %}
		</div>
	</div>
	

{% endblock %}