{% extends 'web_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Search
{% endblock %}

	
{% block body_block %}

	<div class="container-fluid">
		<h1>Search results for '{{argument}}'</h1>
		<h2>Users - Username</h2>
	</div>
	
	<!--Menu of Users filtered by Username-->
	<div class="container-fluid">
		<div class="card-deck">
		{% for user in users %}
			<a href="{% url 'design-grid:profile' user.userprofile.slug %}" style="color: #222222;">
				<div class="card" style="width: 282px;">
					<img class="card-img-top" style="object-fit: cover; height:300px; width:280px" src="{{MEDIA_URL}}{{user.userprofile.picture}}" alt="profile_image">
					<div class="card-body" style="object-fit: cover;">
						<h5 class="card-title">{{user.username}}</h5>
						<p class="card-text">{{user.userprofile.bio}}</p>
					</div>
				</div>
			</a>
		{% endfor %}
		</div>
	</div>
	
	<div class="container-fluid">
		<h2>Users - Location</h2>
	</div>
	
	<!--Menu of Users filtered by Location-->	
	<div class="container-fluid">
		<div class="card-deck">
	{% for userprofile in location %}
		<a href="{% url 'design-grid:profile' userprofile.slug %}" style="color: #222222;">
			<div class="card" style="width: 282px;">
			  <img class="card-img-top" style="object-fit: cover; height:300px; width:280px" src="{{MEDIA_URL}}{{userprofile.picture}}" alt="profile_image">
			  <div class="card-body">
				<h5 class="card-title">{{userprofile.user.username}}</h5>
				<p class="card-text">{{userprofile.location}}</p>
			  </div>
			</div>
		</a>
	{% endfor %}
		</div>
	</div>
	
	<div class="container-fluid">
		<h2>Posts - Titles</h2>
	</div>
	
	<!--Menu of Posts-->
	<div class="container-fluid">
		<div class="card-deck">
	{% for post in posts %}
		<a href="{% url 'design-grid:post' post.pid %}" style="color: #222222;">
			<div class="card" style="width: 282px;">
			  <img class="card-img-top" style="object-fit: cover; height:300px; width:280px" src="{{MEDIA_URL}}{{post.picture}}" alt="post_image">
			  <div class="card-body">
				<h5 class="card-title">{{post.title}}</h5>
				<p class="card-text">By: {{post.section.user}}</p>
			  </div>
			</div>
		</a>
	{% endfor %}
		</div>
	</div>
	

{% endblock %}